<div class='row wrapper'>
  <div class='col-md-5 left'>
    {{bike-part getVideo='getVideo' newVideo='newVideo'}}
  </div>
  <div class='col-md-7 right'>
    {{featured-video url=featuredUrl}}
    </div>
</div>
