<div class='bike-wrap'>
<div class='brakes' id='levers'></div>
<div class='shifting' id='paddles'></div>
<div class='bearings' id='headset'></div>
<div class='bearings' id='bb'></div>
<div class='brakes' id='rear-brake'></div>
<div class='brakes' id='front-brake'></div>
<div class='bearings' id='rear-hub'></div>
<div class='bearings' id='front-hub'></div>
<div class='shifting' id='rear-der'></div>
<div class='shifting' id='front-der'></div>
<div class='shifting' id='chain-top'></div>
<div class='shifting' id='chain-bottom'></div>
<div class='drivetrain' id='cranks'></div>
<div class='wheel' id='back-wheel'
    {{action 'backWheel' on='mouseEnter'}}
    {{action 'resetMessage' on='mouseLeave'}}></div>
<div class='wheel' id='front-wheel'></div>
</div>
<h1>{{message}}</h1>
