<iframe class='video-wheel' width="426" height="240" src={{video.url}} frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
{{#if video.length}}
<h5>Rated {{video.avg}}/10 by {{video.length}} ratings.</h5>
{{/if}}
