<div class=classNames id=id toggleClass=toggleClass msg=msg tagId=tagId
  {{action 'onHover' toggleClass msg on='mouseEnter'}}
  {{action 'onHover' toggleClass '' on='mouseLeave'}}
  {{action 'getVideo' tagId}}></div>
