<h1 class='text-center'>All Videos</h1>
<div class='video-container'>
{{!-- loop through videos returned by model and display each in a component --}}
{{#each model as |video|}}
  {{featured-video delRate='delRate' newRating='newRating' video=video}}
{{/each}}
</div>
