@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:900');

body {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 25px;
  text-align: center;
}

.about-drop {
  font-size: 18px;
  letter-spacing: .75px;
  line-height: 1.5em;
  padding: 20px;
  width: 600px;
}

.back-wheel {
  margin-left: 4.5%;
  margin-top: 18.5%;
  width: 37%;
  height: 62%;
}

.bb {
  height: 3.25%;
  width: 2%;
  border-radius: 50%;
  margin-top: 38.75%;
  margin-left: 45%;
}

.bearings {
  display: inline-block;
  z-index: 9;
  position: absolute;
  cursor: pointer;
}

.bike-wrap {
  background-image: url('https://c1.staticflickr.com/5/4751/27965180769_0568e3e70d_o.jpg');
  background-size: cover;
  display: inline-block;
  margin-bottom: 0;
  width: 70vw;
  height: 42vw;
  position: relative;
  text-align: left;
}

.empty {
  height: 100%;
  width: 100%;
  position: absolute;
}

.wheel-bg {
  background-image: url('https://c1.staticflickr.com/5/4649/26002281118_c649e877ba_o.png');
}

.brake-bg {
    background-image: url('https://c1.staticflickr.com/5/4668/39172704084_588cb5aba3_o.png');
}

.bb-bg {
  background-image: url('https://c1.staticflickr.com/5/4715/25011672407_425d2c562c_o.png');
}

.cassette-bg {
  background-image: url('https://c1.staticflickr.com/5/4612/39172703674_e8935c9b90_o.png');
}

.chain-bg {
    background-image: url('https://c1.staticflickr.com/5/4665/25011671377_916e3dbf67_o.png');
}

.crank-bg {
  background-image: url('https://c1.staticflickr.com/5/4753/25011671127_2fbd3537e9_o.png');
}

.cable-bg {
  background-image: url('https://c1.staticflickr.com/5/4694/25011672247_81faec5043_o.png');
}

.empty-bg {
  background-image: url('https://c1.staticflickr.com/5/4746/25005680097_542ddbc9ff_o.png');
}

.front-der-bg {
    background-image: url('https://c1.staticflickr.com/5/4677/25011670857_436b2623c8_o.png');
}

.headset-bg {
    background-image: url('https://c1.staticflickr.com/5/4741/25011670757_f911eaeb38_o.png');
}

.hub-bg {
    background-image: url('https://c1.staticflickr.com/5/4744/25011670657_83b4ef17dd_o.png');
}

.lever-bg {
    background-image: url('https://c1.staticflickr.com/5/4613/25011670517_38deeb981a_o.png');
}

.paddle-bg {
    background-image: url('https://c1.staticflickr.com/5/4705/25011672057_c4a25b81fe_o.png');
}

.pedal-bg {
  background-image: url('https://c1.staticflickr.com/5/4626/39172703294_bcc4039542_o.png');
}

.rear-der-bg {
    background-image: url('https://c1.staticflickr.com/5/4758/25011671757_6108b878be_o.png');
}

.brakes {
  display: inline-block;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}

.btn-dd {
  margin-left: 15px;
}

.btn-secondary {
  background: transparent;
  border-radius: 0;
  margin-bottom: 5px;
}

.btn-secondary:hover {
  border-bottom: 1px solid black;
}

.cables {
  display: inline-block;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}

.cassette {
  border-radius: 50%;
  height: 11%;
  width: 6.5%;
  margin-left: 19.5%;
  margin-top: 34%;
  z-index: 4;
}

.chain-top {
  width: 16%;
  height: 2%;
  margin-top: 35%;
  margin-left: 25%;
}

.chain-bottom {
  width: 23%;
  height: 2%;
  margin-top: 44%;
  margin-left: 21%;
}

.chainring {
  border-radius: 50%;
  height: 15%;
  width: 9%;
  margin-left: 41.65%;
  margin-top: 35.1%;
}

.crankarm {
  transform: rotate(-67deg);
  height: 15%;
  width: 2%;
  margin-left: 50%;
  margin-top: 37%;
  z-index: 4;
}

.delete-x {
  color: red;
  font-weight: 900;
}

.drivetrain {
  cursor: pointer;
  display: inline-block;
  position: absolute;
}

.dropdown {
  margin-top: 15px;
  padding: 0;
}

.dropdown-item {
  margin-bottom: 0;
  text-align: left;
  width: 100%;
}

.dropdown-menu {
  padding: 10px;
}

.form-horizontal {
  margin: 0 auto;
  min-width: 400px;
  width: 40%;
}

.front-brake {
  margin-top: 18.5%;
  margin-left: 68.5%;
  width: 4.5%;
  height: 9%;
  z-index: 10;
}

.front-der {
  margin-top: 32%;
  margin-left: 40.5%;
  height: 10%;
  width: 5%;
}

.front-hub {
  border-radius: 50%;
  height: 5.25%;
  width: 3%;
  margin-top: 35.75%;
  margin-left: 76.25%;
}

.front-wheel {
  margin-left: 58.75%;
  margin-top: 18%;
  width: 38%;
  height: 63%;
}

.headset {
  margin-top: 7.5%;
  margin-left: 63.5%;
  border-radius: 0;
  width: 2.5%;
  height: 20%;
  transform: rotate(-23deg);
}

.levers {
  margin-top: 4.5%;
  margin-left: 70%;
  height: 16%;
  width: 7%;
}

.message {
  font-size: 40px;
  font-weight: 900;
  height: 50px;
  margin: 0;
  text-align: center;
  width: 100%;
  position: absolute;
}

.my-nav {
  background: transparent;
  border: none;
  box-shadow: none;
}

.paddles {
  margin-top: 8%;
  margin-left: 72%;
  width: 3%;
  height: 10%;
}

.pedals {
  border-radius: 50%;
  height: 6%;
  width: 3.75%;
  margin-left: 52.75%;
  margin-top: 41.25%;
  z-index: 6;
}

.navbar {
  background-color: white;
}


.radio-list {
  list-style: none;
  padding: 0;
}

.rate-delete {
  margin-left: 30px;
}

.rate-label {
  display: inline-block;
  width: 50px;
}

.rate-btn {

  background: transparent;
  box-shadow: none;
  border: none;
  margin: 0 auto;
  outline: none;
  text-align: center;
  width: 25px;
}

.rate-li {
  display: inline-block;
}

.rating-form {
  display: inline-block;
  text-align: center;
}

.rear-brake {
  margin-top: 19.5%;
  margin-left: 28.5%;
  width: 4.5%;
  height: 9%;
}

.rear-hub {
  border-radius: 50%;
  height: 4.75%;
  width: 2.5%;
  margin-top: 36.15%;
  margin-left: 21%;
}

.rear-der {
  margin-top: 38%;
  margin-left: 18%;
  height: 11%;
  width: 6%;
}

.seat-tube-cables {
  margin-top: 17%;
  margin-left: 40%;
  height: 30%;
  width: 1%;
  transform: rotate(-20deg);
}

.single-video {
  display: inline-block;
  text-align: center;
}

.shifting {
  display: inline-block;
  position: absolute;
  z-index: 7;
  cursor: pointer;
}

.sp-title {
  font-family: 'Francois One', sans-serif;
  font-size: 70px;
  -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #fea921;
}

.tag-header {
  margin: 20px;
  text-align: center;
}

.top-cables {
  margin-top: 13.80%;
  margin-left: 38%;
  height: 1.5%;
  width: 23%;
  transform: rotate(-5deg);
}

.video-component {
  border: 1px solid black;
  float: left;
  margin: 5px;
  width: 465px;

  padding: 15px;
  text-align: center;
}

.video-container {
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 1430px;
}

@media (max-width: 1500px) {
  .video-container {
    width: 954px;
  }
}

@media (max-width: 1000px) {
  .video-container {
    width: 475px;
  }
}

.videos-wrap {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.wheel {
  border-radius: 50%;
  display: inline-block;
  z-index: 0;
  cursor: pointer;
  position: absolute;
}
