{{bike-video-container url=currentVid.url getVideo='getVideo'}}
<h1>All Videos</h1>
{{#each model as |video|}}
  <h3>{{video.title}} </h3>
  {{featured-video delRate='delRate' newRating='newRating' video=video}}
{{/each}}
