<h4 class='tag-header'><i>Results for: {{model.name}}</i></h4>
<div class='video-container'>
{{#each model.videos as |video|}}
  {{featured-video delRate='delRate' newRating='newRating' video=video}}
{{/each}}
</div>
